@model Category
<form method="post" asp-action="Edit">
    <div class="border p-3 mt-4">
        <h2>Update category</h2>
        <hr />


        <div class="mb-3">
            <label asp-for="Name">Name</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Description">Description</label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <button class="btn btn-primary" style="width: 150px;">Update</button>
        <a class=" btn btn-secondary" asp-action="Index" style="width:150px;">Back To List</a>
    </div>

</form>